<div class="wrapper-top">
  <a class="logo"><button type="button" class="btn btn-warning"><img src="images/logo.png" alt="logo"></button></a>
  <h1>Hello {{name}}!</h1>
  <a class="logout" href="/logout"><button type="button" class="btn btn-danger btn-sm">Logout</button></a>
</div>

<div class="wrapper-profile">
  <h2>This is your Watchlist so far:</h2>
<br>
<br>

{{#each result}}
<div class="d-flex position-relative">
  
  <img src="{{this.image_url}}" class="flex-shrink-0 me-3" alt="...">
  
  <div>
    <h5 class="mt-0">{{this.title}}</h5>
    <p>{{this.synopsis}}<a href="more" class="more">more</a></p>
    <p>🎬  &nbsp Episodes: {{this.episodes}}</p>
    <p>⭐  &nbsp Score of: {{this.score}}</p>
  </div>

</div>

<form method="POST" action="/profile/{{this.id}}/delete">
    <button type="submit" class="btn btn-warning">Delete</button>
</form>

{{/each}}
  
  
  <a href="/info/add" class="btn btn-warning">Add another anime to your Watchlist!</a>
</div>










