<br><br><br><a href="/logout"><button type="button" class="btn btn-danger btn-sm">Logout</button></a>
<br><br><br>
<h1>Hello {{email}}!</h1><br><br>
<h5>this is your Watchlist so far:</h5><br><br>


{{!-- <p>Title{{this.title}}</p>
<img src={{this.images.url}}>
<p>{{this.synopsis}}</p>
<p>Episode:{{this.episodes}}</p> --}}
<form method="POST" action="/delete">
  <button href="/delete" type="button" class="btn btn-warning">Delete</button>
</form>
<br>
<form method="GET" action="/info/add">
  <button type="submit" class="btn btn-warning">Add another anime to your Watchlist!</button>
</form>













