<br><br><br>
<a href="/logout"><button type="button" class="btn btn-danger btn-sm">Logout</button></a>


{{!-- ADDED A BUTTON TO GO TO PROFILE--}}
<a href="/profile"><button type="button" class="btn btn-warning">Profile</button></a>

<br><br><br>
<h1>Search Page</h1><br>


  <h4>Name</h4>
  <br>
<nav>
<div>

<form class="d-flex" method="POST" action="/info/search">
        <input id="anime-input" name="query" class="form-control me-2" type="text" placeholder="Type to search..." aria-label="Search">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
      </div>
      </nav>
<br><br><br>

{{#each animeOptions}}
<div class="d-flex position-relative">
  <img src="{{this.img}}" class="flex-shrink-0 me-3" alt="...">
  <div>
  
    <h5 class="mt-0">{{this.title}}</h5>

    <p>{{this.synopsis}}<a href="more" class="more">more</a></p>
    <p>🎬  &nbsp Episodes: {{this.episodes}}</p>
    <p>⭐  &nbsp Score of: {{this.score}}</p>
    <a href="#" class="stretched-link"><button href="/addanime" type="button" class="btn btn-warning">Add it!</button></a>
    
  </div>
</div>
<br><br><br>
{{/each}}   



